table{
    font-family: sans-serif;
    width:100%;
    margin: 20px;
    border-collapse: collapse;
    /* border: 2px solid rgb(200,200,200); */
    letter-spacing: 1px;
    font-size: 0.8rem;
}
td, th {
    /* border: 1px solid rgb(190,190,190); */
    /* border-bottom: 1px solid rgb(190,190,190); */
    padding: 10px 20px;
}
tr{
    border-bottom: 1px solid rgb(190,190,190);
    text-align: left;
}
thead{
    text-align: left;
    border-bottom: 1px solid rgb(190,190,190);
}
thead > input{
    display: flex;
    align-items: center;
}